<!--<div class="row align-center">
  <div class="column small-4">
    <div class="column align-self-bottom"><a href="#">Take Action!</a>


  </div>
  </div>
  <div class="column small-4">
    <div class="column align-self-bottom">
      <a href="#" class="is-active">Carpe Diem!</a>
  </div>
  </div>
  <div class="column small-4">
  <div class="column align-self-bottom">

  <a target="_blank" href="http://zurb.com/responsive">Just do it!</a></div></div>
  </div>-->
<div class="title-bar">
  <div class="title-bar-left">
    <button class="menu-icon" type="button"></button>
  </div>
  <div class="title-bar-center">
    by: <img src="../assets/rafszul-signature-001.svg" alt="">
  </div>
  <div class="title-bar-right">
    <button class="menu-icon" type="button"></button>
  </div>
</div>
