<div class="row">
  <div class="small-12 large-expand columns">One</div>
  <div class="small-12 large-expand columns">Two</div>
  <div class="small-12 large-expand columns">Three</div>
  <div class="small-12 large-expand columns">Four</div>
  <div class="small-12 large-expand columns">Five</div>
  <div class="small-12 large-expand columns">Six</div>
</div>

<div class="container">
  <div class="parallaxbox">
    <div class="parallax-base layer1">
      <img src="../assets/asanocorp-0-4-0-grey-no-back-stroke-cleaned_animated-cleaned.svg" alt=""></div>
    <div class="parallax-base layer2">
      <img src="../assets/asanocorp-0-4-0-grey-no-back-cleaned.svg" alt=""></div>
    <div class="parallax-base layer3">
      <img src="../assets/asanocorp-0-4-0-blue-cleaned-002.svg" alt=""></div>
  </div>
</div>
