  
<div class="container">
  
  <div class="parallaxbox">
  <header class="header">

  <div class="parallax-base layer1">
    <ul class="header-subnav">
      <li><a href="#">Take Action!</a></li>
      <li><a href="#" class="is-active">Carpe Diem!</a></li>
      <li><a target="_blank" href="http://zurb.com/responsive">Just do it!</a></li>
    </ul>
  </div>
</header>

</div>
  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
    Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. </p>
  <div class="parallaxbox">
    <div class="parallax-base layer1">
      <img src="../assets/asanocorp-0-4-0-grey-no-back-stroke.svg" alt=""> </div>
    <div class="parallax-base layer2">
      <img src="../assets/asanocorp-0-4-0-grey-no-back.svg" alt=""> </div>
    <div class="parallax-base layer3">
      <img src="../assets/asanocorp-0-4-0-grey.svg" alt="">
    </div>
  </div>
  <!--<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
    Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute
    irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat
    cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
    Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute
    irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat
    cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>-->

  <div class="parallaxbox">
  <header class="header">
  <div class="parallax-base layer2">
    <h1 class="headline">Foundation <small>by ZURB</small></h1>
  </div>
  <div class="parallax-base layer1">
    <ul class="header-subnav">
      <li><a href="#">Take Action!</a></li>
      <li><a href="#" class="is-active">Carpe Diem!</a></li>
      <li><a target="_blank" href="http://zurb.com/responsive">Just do it!</a></li>
    </ul>
  </div>
</header>

</div>
</div>


<!--<header class="header">
  <h1 class="headline">Foundation  <small>by ZURB</small></h1>
  <ul class="header-subnav">
    <li><a href="#">Take Action!</a></li>
    <li><a href="#" class="is-active">Carpe Diem!</a></li>
    <li><a target="_blank" href="http://zurb.com/responsive">Just do it!</a></li>
  </ul>
</header>

<div class="row collapse expanded">
	<div class="small-12 medium-12 large-12 columns">
		<div class="orbit" role="region" aria-label="Favorite Space Pictures" data-orbit>
		  <ul class="orbit-container">
            <button class="orbit-previous"><span class="show-for-sr">Previous Slide</span>&#9664;&#xFE0E;</button>
    <button class="orbit-next"><span class="show-for-sr">Next Slide</span>&#9654;&#xFE0E;</button>
		    <li class="is-active orbit-slide">
		    	<img class="orbit-image" src="http://foundation.zurb.com/sites/docs/assets/img/orbit/01.jpg" alt="Space">
			  	<span class="orbit-caption"><p>Vertical aligning of text over image on Orbit Slider</p></span>
		    </li>
        <li class="orbit-slide">
		    	<img class="orbit-image" src="http://foundation.zurb.com/sites/docs/assets/img/orbit/01.jpg" alt="Space">
			  	<span class="orbit-caption"><p>Vertical aligning of text over image on Orbit Slider</p></span>
		    </li>
        <li class="orbit-slide">
		    	<img class="orbit-image" src="http://foundation.zurb.com/sites/docs/assets/img/orbit/01.jpg" alt="Space">
			  	<span class="orbit-caption"><p>Vertical aligning of text over image on Orbit Slider</p></span>
		    </li>
  </ul>
		  <nav class="orbit-bullets">
		    <button class="is-active" data-slide="0"><span class="show-for-sr">First slide details.</span><span class="show-for-sr">Current Slide</span></button>
		    <button data-slide="1"><span class="show-for-sr">Second slide details.</span></button>
		    <button data-slide="2"><span class="show-for-sr">Third slide details.</span></button>
		    <button data-slide="3"><span class="show-for-sr">Fourth slide details.</span></button>
		  </nav>
		</div>
	</div>	
</div>



<div class="row">
<img src="../assets/IMNGN 24-12-16 8.24.0-cleaned.svg" class="float-center">
</div>

<div class="callout clearfix">
  <a class="button float-left" data-open="exampleModal1">Left</a>
  <a class="button float-right">Right</a>
  
  <div class="reveal" id="exampleModal1" data-reveal>
  <h1>Awesome. I Have It.</h1>
  <p class="lead">Your couch. It is mine.</p>
  <p>I'm a cool paragraph that lives inside of an even cooler modal. Wins!</p>
  <button class="close-button" data-close aria-label="Close reveal" type="button">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
</div>

  <div class="row align-center">
    <div class="column small-4">
      <a class="button" href="#"><h1>{{title}}</h1></a>
    </div>
    <div class="column small-4">the middle</div>
    <div class="column small-4">the middle</div>

  </div>


<p><a data-open="exampleModal1">Click me for a modal</a></p>

<div class="reveal" id="exampleModal1" data-reveal>
  <h1>Awesome. I Have It.</h1>
  <p class="lead">Your couch. It is mine.</p>
  <p>I'm a cool paragraph that lives inside of an even cooler modal. Wins!</p>
  <button class="close-button" data-close aria-label="Close reveal" type="button">
    <span aria-hidden="true">&times;</span>
  </button>
</div>

<script>
  $(document).foundation();
</script>

-->
